<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>投稿一覧</h1>
      <br>
      <p>
        <strong>Content:</strong>
        <%= @clone.content %>
      </p>
      <p>
        <strong>Image:</strong>
        <%= image_tag @clone.image %>
      </p>
      <br>
      <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user.id) %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete %>

      <%= link_to 'Edit', edit_clone_path(@clone) %> |
      <%= link_to 'Back', clones_path %>
      <% unless @clone.user == current_user %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入りする', favorites_path(clone_id: @clone.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
      <% end %>
      <% else %>
      <% end %>
    </div>
  </div>
</div>